
<mat-card [ngClass]="{card: true, 
    'move-in-left': translateIn === 'left', 
    'move-in-right': translateIn === 'right',
    'move-out-left': translateOut === 'left', 
    'move-out-right': translateOut === 'right'
}">
    <mat-card-content>
        <h1>
            {{ prefix || '' }}{{ topic }}{{ hidden ? ' (Hidden)' : '' }}
        </h1>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Notes
                </mat-panel-title>
            </mat-expansion-panel-header>

            <h1 *ngIf="!showForm" class="notes">{{ notes || '(none)' }}</h1>

            <form *ngIf="showForm" (ngSubmit)="update()" [formGroup]="updateForm" class="example-form">
                <mat-form-field class="block">
                    <mat-label>Topic</mat-label>
                    <textarea matInput formControlName="topic" required
                        cdkTextareaAutosize
                        #autosize="cdkTextareaAutosize"
                        cdkAutosizeMinRows="1"
                        cdkAutosizeMaxRows="5"></textarea>
                </mat-form-field>
            
                <mat-form-field class="block">
                    <mat-label>Notes</mat-label>
                    <textarea matInput formControlName="notes" 
                        cdkTextareaAutosize
                        #autosize="cdkTextareaAutosize"
                        cdkAutosizeMinRows="1"
                        cdkAutosizeMaxRows="5"></textarea>
                </mat-form-field>

                <div class="block">
                    <mat-checkbox formControlName="hidden" color="warn">Hide topic</mat-checkbox>
                </div>

                <div class="form-buttons">
                    <button type="submit" mat-raised-button color="primary" [disabled]="!updateForm.valid">SAVE</button>
                    <button type="button" mat-button (click)="cancel()">CANCEL</button>
                </div>
            </form>

            <form [formGroup]="toggleUpdateForm">
                <mat-checkbox formControlName="showForm">Show update form</mat-checkbox>
            </form>
        </mat-expansion-panel>
    </mat-card-content>

    <mat-card-actions>
        <button *ngIf="!hideNavigation" mat-button (click)="previous()">PREVIOUS</button>
        <button mat-button color="warn" (click)="deleteTopic()">DELETE</button>
        <button *ngIf="!hideNavigation" mat-button (click)="next()">NEXT</button>
    </mat-card-actions>
</mat-card>
