
<mat-card [ngClass]="{card: true, 
    'move-in-left': translateIn === 'left', 
    'move-in-right': translateIn === 'right',
    'move-out-left': translateOut === 'left', 
    'move-out-right': translateOut === 'right'
}">
    <mat-card-content>
        <h1>
            {{ topic }}
        </h1>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Notes
                </mat-panel-title>
            </mat-expansion-panel-header>

            <ng-container *ngIf="!showForm">
                <h1 class="notes">{{ notes }}</h1>
            </ng-container>

            <ng-container *ngIf="showForm">
                <form (ngSubmit)="save()" [formGroup]="updateForm" class="example-form">
                    <mat-form-field class="block">
                        <mat-label>Topic</mat-label>
                        <input matInput formControlName="topic" required>
                    </mat-form-field>
                
                    <mat-form-field class="block">
                        <mat-label>Notes</mat-label>
                        <textarea matInput formControlName="notes" 
                            cdkTextareaAutosize
                            #autosize="cdkTextareaAutosize"
                            cdkAutosizeMinRows="1"
                            cdkAutosizeMaxRows="5"></textarea>
                    </mat-form-field>

                    <div class="form-buttons">
                        <button type="submit" mat-raised-button color="primary" [disabled]="!updateForm.valid">SAVE</button>
                        <button type="button" mat-button (click)="cancel()">CANCEL</button>
                    </div>
                </form>
            </ng-container>

            <form [formGroup]="toggleUpdateForm">
                <mat-checkbox formControlName="showForm">Show update form</mat-checkbox>
            </form>
        </mat-expansion-panel>
    </mat-card-content>

    <mat-card-actions>
        <button mat-button (click)="previous()">PREVIOUS</button>
        <button mat-button color="warn">DELETE</button>
        <button mat-button (click)="next()">NEXT</button>
    </mat-card-actions>
</mat-card>
