<mat-toolbar color="primary">
    <span>Moo Flashcards</span>
</mat-toolbar>

<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Add topic
        </mat-panel-title>
    </mat-expansion-panel-header>

    <form [formGroup]="createTopicForm" (ngSubmit)="createTopic()">
        <mat-form-field class="block">
            <mat-label>New Topic</mat-label>
            <input matInput formControlName="topic" required>
        </mat-form-field>
    
        <mat-form-field class="block">
            <mat-label>Notes</mat-label>
            <textarea matInput formControlName="notes" 
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="5"></textarea>
        </mat-form-field>

        <div class="form-buttons">
            <button type="submit" mat-raised-button color="primary" [disabled]="!createTopicForm.valid">SAVE</button>
            <button type="button" mat-button (click)="cancel()">CANCEL</button>
        </div>
    </form>
</mat-expansion-panel>

<div class="options">
    <form [formGroup]="voiceForm">
        <mat-slide-toggle formControlName="voice"
        color="primary">Use text-to-voice</mat-slide-toggle>
    </form>
</div>

<ng-container *ngIf="!data.isPending">
    <div *ngIf="!data.value.length">
        <h1>You don't have any topics</h1>
    </div>
    
    <div *ngIf="data.value.length" class="cards">
        <app-card *ngFor="let cardData of cardDatas" [topic]="cardData.topic" [notes]="cardData.notes" [topicID]="cardData.id" [translateIn]="cardData.translateIn" [useVoice]="useVoice"
        (nextClicked)="pushCard({from: 'left'})" (previousClicked)="pushCard({from: 'right'})"></app-card>
    </div>
</ng-container>

<mat-progress-bar mode="indeterminate" *ngIf="!data.isPending && loaderService.loaderCount > 0"></mat-progress-bar>

<mat-spinner *ngIf="data.isPending"></mat-spinner>
