.example-card {
    margin: auto;
    width: 90vw;
    max-width: 1200px;
}

mat-divider {
    margin: 24px 0;
}

.ripple-test {
    width: 100px;
    height: 100px;

    background: rgba(white, .1);
}

.cards {
    position: relative;
    top: 0;
    left: 0;
}
