<mat-toolbar color="primary">
    <span>Moo Flashcards</span>
</mat-toolbar>

<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Add topic
        </mat-panel-title>
    </mat-expansion-panel-header>

    <form [formGroup]="createTopicForm">
        <mat-form-field class="example-full-width">
            <mat-label>New topic text</mat-label>
            <input matInput formControlName="topic" required>
        </mat-form-field>
    
        <mat-form-field class="example-full-width">
            <mat-label>Autosize textarea</mat-label>
            <textarea matInput formControlName="notes" 
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="5"></textarea>
        </mat-form-field>
    </form>    
</mat-expansion-panel>

<!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->

<mat-divider></mat-divider>

<ng-container *ngIf="data.isPending">
    <mat-spinner></mat-spinner>
</ng-container>

<ng-container *ngIf="!data.isPending">
    <div *ngIf="!data.value.length">
        <p>You don't have any topics</p>
    </div>
    
    <div *ngIf="data.value.length" class="cards">
        <app-card *ngFor="let cardData of cardDatas" [topic]="cardData.topic" [notes]="cardData.notes" [translateIn]="cardData.translateIn"
        (nextClicked)="pushCard({from: 'left'})" (previousClicked)="pushCard({from: 'right'})"></app-card>
    </div>
</ng-container>

<!-- 
<div class="ripple-test"
     matRipple>
  Click me
</div> -->
